body, html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @import url('https://fonts.googleapis.com/css?family=Open+Sans')
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, div, input, span, small {
  color: #444444;
}

.ui[class*="top fixed"].menu {
  border-bottom: none!important;
}

.site-content {
  flex: 1;
}
