@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './navbar.css';

body, html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, div, input, span, small {
  color: #444444;
}

.ui[class*="top fixed"].menu {
  border-bottom: none!important;
}

.site-content {
  flex: 1;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.main {
  margin-top: 5em;
}

/* 
  SMALL SCREENS
*/
@media screen and (max-width: 767px) {

}

/* 
 TABLETS AND DESKTOP
*/

@media screen and (min-width: 768px) {

}
